
<div class="text-center">
    <h1 class="display-4">Sorry, but that film is not available in your region.</h1>
    <p>
        This film has been geo-blocked at the request of the film-maker because of distribution contact restrictions, which means it is not available in your country. Only a few films are geo-blocked in the festival. If you belong to the Official selection of filmmakers, do contact us so that we can send us a one time only link to watch the film on demand. If not, I’m so sorry but you’ll have to watch for the film to be available in your country.
    </p>
</div>

