@model RamsgateDigitalCinema.ViewModels.Members.QuestionnaireViewModel

@{
    ViewData["Title"] = "Questionnaire";
}

<div class="text-center">
    <h3 class="" style="margin-bottom: 20px;">QUESTIONNAIRE</h3>
</div>

<div class="container">
    <div class="row">

    </div>
</div>