<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ramsgate IFTV Festival</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
    .partner {
        max-width: 100px;
        max-height: 100px;
    }

    .carousel-inner img {
        margin: auto;
    }

    </style>

    @await RenderSectionAsync("CSS", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/img/mainlogo.png" height="120" width="120" /><img src="~/img/logotext.jpg" class="logotext" />
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  firstmenuitem" style="margin-left: 15px !important; padding-left: 15px !important;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Programme">PROGRAMME</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <label>FILMS</label>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Home/Films">Film List</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Members/BookedFilms">My Booked Films</a>
                                </div>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Collections">SHORTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Home" asp-action="Schedule">SCHEDULE</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <label>SCREENS</label>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/Members/Screen?screen=0">Screen 1</a>
                                    <a class="dropdown-item" href="/Members/Screen?screen=1">Screen 2</a>
                                    <a class="dropdown-item" href="/Members/Screen?screen=2">Screen 3</a>
                                    <a class="dropdown-item" href="/Members/Screen?screen=3">Screen 4</a>
                                </div>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Partners" />

    <footer class="border-top footer mainfooter text-muted small-footer">
        <div class="container">
            <div class="text-right">
                <span class="general-text">
                    &copy; @DateTime.Now.Year - Ramsgate International Film &amp; TV Festival CIC. All Rights Reserved
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-toaster/jquery.toaster.js"></script>

    <script src="https://kit.fontawesome.com/c623806df9.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
