
<div class="container bg-light align-bottom partnerdiv">
    <div class="text-center font-weight-bold"><h4 class="pt-2">Our Partners</h4></div>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-2">
            <img src="~/img/partner1.png" class="small-partner" />
        </div>
        <div class="col-4 col-sm-4 col-md-2">
            <img src="~/img/partner2.png" class="small-partner" />
        </div>
        <div class="col-4 col-sm-4 col-md-2">
            <img src="~/img/partner3.png" class="small-partner" />
        </div>
    </div>
</div>
