@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

Your Date and Time: &nbsp;@(ViewBag.DateTime.ToString())<br /><br />

You are in: &nbsp;@(ViewBag.Country.Name)

@section Scripts
{
    <script>

    </script>
}
