@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

Your Date and Time: &nbsp;@(ViewBag.DateTime.ToString())<br /><br />

You are in: &nbsp;@(ViewBag.Country.Name)

<div id="intro" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="intro modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-light">Ramsgate International Film and Television Festival 2021</h5>
      </div>
      <div class="intro modal-body">
        <img class="introimage" src="~/img/Festival_design.jpg" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-success text-center" onclick="dismissModal()">ENTER</button>
      </div>
    </div>
  </div>
</div>



@section Scripts
{
    @if(ViewBag.ShowIntro == true)
    {
        <text>
            <script>
                $(document).ready(function (){
                    $('#intro').modal();
                });
            </script>
        </text>            
    }

    <script>
        function dismissModal()
        {
            $('#intro').modal('hide');
        }
    </script>
}
