@{
    ViewData["Title"] = "Programme";
}

<div class="text-center">
    <div class="pull-right" style="float: right;">
        <a class="btn btn-primary" style="display: none;" href="https://www.ramsgatedigitalcinema.co.uk/pdf/Programme.pdf" download>Download Your Own Copy</a>
    </div>
    <h1 class="display-4">Programme</h1>
    <p>
        Programme Currently Being Produced...  Coming Soon...
    </p>
</div>

<iframe src="https://www.ramsgatedigitalcinema.co.uk/pdf/Programme.pdf" width="100%" height="700px" style="display: none;"></iframe>